/* Blur */
.hover07 figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover07 figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}